name: DataSketches-Memory Auto JDK Matrix Test & Install

on:
    pull_request:
    push:
        branches: [ master ]
    workflow_dispatch:

env:
    MAVEN_OPTS: -Xmx4g -Xms1g

jobs:
    build:
        name: Build, Test, Install
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
              jdk: [ 8,11 ]
        env:
          JDK_VERSION: ${{ matrix.jdk }}

        steps:
        - name: "Checkout ${{ github.ref }} ( ${{ github.sha }} )"
          uses: actions/checkout@v4.1
          with:
              persist-credentials: false

        - name: Cache local Maven repository
          uses: actions/cache@v3.3.2
          with:
              path: ~/.m2/repository
              key: build-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
              restore-keys: build-${{ runner.os }}-maven-

        - name: Install Matrix JDK
          uses: actions/setup-java@v3.13.0
          with:
              java-version: |
                  8
                  11
              distribution: 'temurin'
              java-package: jdk
              architecture: x64 
# Architecture options: x86, x64, armv7, aarch64, ppc64le
# setup-java@v3 has a "with cache" option

        - name: Echo Java Version
          run: >
              java -version

        - name: Test
          run: >
              mvn clean test -B -X
              -Dmaven.javadoc.skip=true
              -Dgpg.skip=true

        - name: Install
          run: >
              mvn clean install -B -X
              -DskipTests=true
              -Dgpg.skip=true

# Architecture options: x86, x64, armv7, aarch64, ppc64le
# setup-java@v3 has a "with cache" option
# Lifecycle: validate, compile, test, package, verify, install, deploy
# -B batch mode
# -V show Version without stopping
# -X debug mode
# -q quiet, only show errors
